<app-breadcrumb />

<app-spinner *ngIf="loadingService.isLoading | async; else contentLoadedTemplate" />

<ng-template #contentLoadedTemplate>
    <div *ngIf="shouldShowContent">
        <div class="container mt-5">
            <form class="mb-3" (submit)="onSearch($event, search.value)">
                <div class="input-group">
                    <input #search type="text" class="form-control" placeholder="Search posts" aria-label="Search posts">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>

            <div class="mb-3">
                <select class="form-select" (change)="onSortChange($event)">
                  <option value="">Sort by</option>
                  <option value="title_asc">Title (A-Z)</option>
                  <option value="title_desc">Title (Z-A)</option>
                  <option value="body_asc">Body (A-Z)</option>
                  <option value="body_desc">Body (Z-A)</option>
                </select>
              </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of posts; index as i" (click)="goToPostDetail(post.id)" class="cursor-pointer">
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.title }}</td>
                        <td>View Details</td>
                    </tr>
                </tbody>
            </table>
            <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pages]="pages" (pageChange)="paginate($event)" />
        </div>
</div>

<router-outlet #outlet="outlet" (activate)="onActivate()" (deactivate)="onDeactivate()"></router-outlet>
</ng-template>

