<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="#" (click)="$event.preventDefault(); paginate(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
            <a class="page-link" href="#" (click)="$event.preventDefault(); paginate(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="#" (click)="$event.preventDefault(); paginate(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav>